[submodule "computer/ext/oglplus"]
	path = computer/ext/oglplus
	url = git@github.com:matus-chochlik/oglplus.git
[submodule "computer/ext/freetype-gl"]
	path = computer/ext/freetype-gl
	url = git@github.com:rougier/freetype-gl.git
[submodule "beacon/libopencm3"]
	path = beacon/libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "controller/libopencm3"]
	path = controller/libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "powerboard/libopencm3"]
	path = powerboard/libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "ros/rawgps-tools"]
	path = ros/rawgps-tools
	url = git@github.com:uf-mil/rawgps-tools.git
[submodule "external/software-common"]
	path = external/software-common
	url = git@github.com:uf-mil/software-common.git
[submodule "ros/txros"]
	path = ros/txros
	url = git@github.com:txros/txros.git
