[submodule "computer/ext/oglplus"]
	path = computer/ext/oglplus
	url = git@github.com:matus-chochlik/oglplus.git
[submodule "computer/ext/freetype-gl"]
	path = computer/ext/freetype-gl
	url = git@github.com:rougier/freetype-gl.git
