###########################################
# Timing Constraints
###########################################
NET "clk_100MHz" TNM_NET = "TNM_CLK100M";
TIMESPEC "TS_CLK100M" = PERIOD "TNM_CLK100M" 100 MHz HIGH 50 % PRIORITY 0 ;

NET "clk_132MHz" TNM_NET = "TNM_PCLK";
TIMESPEC "TS_PCLK" = PERIOD "TNM_PCLK" 132 MHz HIGH 50 % PRIORITY 0 ;

#
# Multi-cycle paths
#
TIMEGRP "bramgrp" = RAMS(U_DVI_TX/U_dvi_tx/pixel2x/dataint<*>);  
TIMEGRP "fddbgrp" = FFS(U_DVI_TX/U_dvi_tx/pixel2x/db<*>);
TIMEGRP "bramra" = FFS(U_DVI_TX/U_dvi_tx/pixel2x/ra<*>);

TIMESPEC "TS_ramdo" = FROM "bramgrp" TO "fddbgrp" TS_PCLK;
TIMESPEC "TS_ramra" = FROM "bramra" TO "fddbgrp" TS_PCLK;

VCCAUX = 3.3;

NET "rst_n" LOC = T15 | IOSTANDARD = "LVCMOS33";
NET "clk_100MHz" LOC = L15 | IOSTANDARD = "LVCMOS33" | PERIOD = 100 MHz HIGH 50%;

NET "tx_tmds(0)"  	LOC = "D8" | IOSTANDARD = TMDS_33 ; # Blue
NET "tx_tmdsb(0)"  LOC = "C8" | IOSTANDARD = TMDS_33 ;
NET "tx_tmds(1)"  	LOC = "C7" | IOSTANDARD = TMDS_33 ; # Red
NET "tx_tmdsb(1)"  LOC = "A7" | IOSTANDARD = TMDS_33 ;
NET "tx_tmds(2)"  	LOC = "B8" | IOSTANDARD = TMDS_33 ; # Green
NET "tx_tmdsb(2)"  LOC = "A8" | IOSTANDARD = TMDS_33 ;
NET "tx_tmds(3)"  	LOC = "B6" | IOSTANDARD = TMDS_33 ; # Clock
NET "tx_tmdsb(3)"  LOC = "A6" | IOSTANDARD = TMDS_33 ;
NET "rx_scl"  LOC = "M16"; # Bank = 1, Pin name = IO_L47P_FWE_B_M1DQ0, Sch name = TMDS-RX-SCL
NET "rx_sda"  LOC = "M18"; # Bank = 1, Pin name = IO_L47N_LDC_M1DQ1,   Sch name = TMDS-RX-SDA


NET "rx_tmds(3)"  	LOC = "H17" |IOSTANDARD = TMDS_33 ; # CLK
NET "rx_tmdsb(3)"  LOC = "H18" |IOSTANDARD = TMDS_33 ;
NET "rx_tmds(2)"  	LOC = "J16" |IOSTANDARD = TMDS_33 ; # Red
NET "rx_tmdsb(2)"  LOC = "J18" |IOSTANDARD = TMDS_33 ;
NET "rx_tmds(1)"  	LOC = "L17" |IOSTANDARD = TMDS_33 ; # Green	
NET "rx_tmdsb(1)"  LOC = "L18" |IOSTANDARD = TMDS_33 ;
NET "rx_tmds(0)"  	LOC = "K17" |IOSTANDARD = TMDS_33 ; # Blue	
NET "rx_tmdsb(0)"  LOC = "K18" |IOSTANDARD = TMDS_33 ;

NET "led<0>" LOC = "U18"; # Bank = 1, Pin name = IO_L52N_M1DQ15, 	   Sch name = LD0

NET "uart_tx" LOC = "B16" | IOSTANDARD = LVCMOS33;
NET "uart_rx" LOC = "A16" | IOSTANDARD = LVCMOS33;


NET "right_camera_out_clock_p" LOC = U16 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_out_clock_n" LOC = V16 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_sync_p" LOC = U15 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_sync_n" LOC = V15 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_data0_p" LOC = U13 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_data0_n" LOC = V13 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_data1_p" LOC = M11 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_data1_n" LOC = N11 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_data2_p" LOC = R11 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_data2_n" LOC = T11 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_data3_p" LOC = T12 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_data3_n" LOC = V12 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;

NET "right_camera_in_clock_p" LOC = R10 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
NET "right_camera_in_clock_n" LOC = T10 | IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;
