###########################################
# Timing Constraints
###########################################
NET "clk_100MHz" TNM_NET = "TNM_CLK100M";
TIMESPEC "TS_CLK500M" = PERIOD "TNM_CLK100M" 100 MHz HIGH 50 % PRIORITY 0 ;

#
# Multi-cycle paths
#
TIMEGRP "bramgrp" = RAMS(U_DVI_TX/U_dvi_tx/pixel2x/dataint<*>);  
TIMEGRP "fddbgrp" = FFS(U_DVI_TX/U_dvi_tx/pixel2x/db<*>);
TIMEGRP "bramra" = FFS(U_DVI_TX/U_dvi_tx/pixel2x/ra<*>);

TIMESPEC "TS_ramdo" = FROM "bramgrp" TO "fddbgrp" TS_PCLK;
TIMESPEC "TS_ramra" = FROM "bramra" TO "fddbgrp" TS_PCLK;

VCCAUX = 3.3;

NET "rst_n" LOC = T15 | IOSTANDARD = "LVCMOS33";
NET "clk_100MHz" LOC = L15 | IOSTANDARD = "LVCMOS33" | PERIOD = 100 MHz HIGH 50%;

NET "tx_tmds(0)"  	LOC = "D8" | IOSTANDARD = TMDS_33 ; # Blue
NET "tx_tmdsb(0)"  LOC = "C8" | IOSTANDARD = TMDS_33 ;
NET "tx_tmds(1)"  	LOC = "C7" | IOSTANDARD = TMDS_33 ; # Red
NET "tx_tmdsb(1)"  LOC = "A7" | IOSTANDARD = TMDS_33 ;
NET "tx_tmds(2)"  	LOC = "B8" | IOSTANDARD = TMDS_33 ; # Green
NET "tx_tmdsb(2)"  LOC = "A8" | IOSTANDARD = TMDS_33 ;
NET "tx_tmds(3)"  	LOC = "B6" | IOSTANDARD = TMDS_33 ; # Clock
NET "tx_tmdsb(3)"  LOC = "A6" | IOSTANDARD = TMDS_33 ;
NET "rx_scl"  LOC = "M16"; # Bank = 1, Pin name = IO_L47P_FWE_B_M1DQ0, Sch name = TMDS-RX-SCL
NET "rx_sda"  LOC = "M18"; # Bank = 1, Pin name = IO_L47N_LDC_M1DQ1,   Sch name = TMDS-RX-SDA


NET "rx_tmds(3)"  	LOC = "H17" |IOSTANDARD = TMDS_33 ; # CLK
NET "rx_tmdsb(3)"  LOC = "H18" |IOSTANDARD = TMDS_33 ;
NET "rx_tmds(2)"  	LOC = "J16" |IOSTANDARD = TMDS_33 ; # Red
NET "rx_tmdsb(2)"  LOC = "J18" |IOSTANDARD = TMDS_33 ;
NET "rx_tmds(1)"  	LOC = "L17" |IOSTANDARD = TMDS_33 ; # Green	
NET "rx_tmdsb(1)"  LOC = "L18" |IOSTANDARD = TMDS_33 ;
NET "rx_tmds(0)"  	LOC = "K17" |IOSTANDARD = TMDS_33 ; # Blue	
NET "rx_tmdsb(0)"  LOC = "K18" |IOSTANDARD = TMDS_33 ;

NET "led<0>" LOC = "U18"; # Bank = 1, Pin name = IO_L52N_M1DQ15, 	   Sch name = LD0

NET "uart_tx" LOC = "B16" | IOSTANDARD = LVCMOS33;
NET "uart_rx" LOC = "A16" | IOSTANDARD = LVCMOS33;


NET "camera_a_inout_data[7]" LOC = R11 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_data[6]" LOC = M11 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_data[5]" LOC = U13 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_data[4]" LOC = U15 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_data[3]" LOC = U16 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_data[2]" LOC = V15 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_data[1]" LOC = U11 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_data[0]" LOC = M10 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_fv"      LOC = T12 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_lv"      LOC = N10 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_pclk"    LOC = R10 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_a_inout_sda"     LOC = P11 | IOSTANDARD = I2C;
NET "camera_a_inout_scl"     LOC = V12 | IOSTANDARD = I2C;
NET "camera_a_out_pwdn"      LOC = T11 | IOSTANDARD = LVCMOS33;
NET "camera_a_out_mclk"      LOC = N11 | IOSTANDARD = LVCMOS33;
NET "camera_a_out_rst"       LOC = V13 | IOSTANDARD = LVCMOS33 | DRIVE = 24;

NET "camera_x_vdd_en" LOC = V16 | IOSTANDARD = LVCMOS33;

NET "camera_b_inout_data[7]" LOC = T6 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_data[6]" LOC = N7 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_data[5]" LOC = U7 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_data[4]" LOC = U8 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_data[3]" LOC = M8 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_data[2]" LOC = R8 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_data[1]" LOC = V5 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_data[0]" LOC = U5 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_fv"      LOC = R7 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_lv"      LOC = N6 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_pclk"    LOC = U10 | IOSTANDARD = LVCMOS33 | IN_TERM = UNTUNED_SPLIT_50;
NET "camera_b_inout_sda"     LOC = V6 | IOSTANDARD = I2C;
NET "camera_b_inout_scl"     LOC = P8 | IOSTANDARD = I2C;
NET "camera_b_out_pwdn"      LOC = T8 | IOSTANDARD = LVCMOS33;
NET "camera_b_out_mclk"      LOC = V8 | IOSTANDARD = LVCMOS33;
NET "camera_b_out_rst"       LOC = N8 | IOSTANDARD = LVCMOS33;
