# ignore all files in subdirectories
/*/**/*
!/*/**/

# whitelist some files
!/*/src/**
!/*/*/*.xco
!/*/ipcore*/**/user_design/mig.prj
!.gitignore
!/MyHDL*/**
!/doc/**
!/scripts/**

# since this overrides global settings, need to reignore some files
*~
*.pyc
